@font-face {
  font-family: clock;
  src: url(../font/babyfish\ regular.otf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
    font-family: Calibri, Helvetica, sans-serif;
    background-image:  url(../img/19627.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    }
    #container{
      overflow: hidden;
    }
    .container {
    width: 90%;
    margin: auto;
    position: relative;
    transform: translateY(70px);  
    height: 300px;
    }
    .container h1{
      text-align: center;
      transform: translateY(-10px);
      color: goldenrod;
      font-size: 16px;
    }
    .container h1 span{
      border-bottom: 1px solid goldenrod;
      padding: 3px;
    }
    .container form{
      text-align: center;
    }
    .container p{
      padding: 0 10px;
      font-size: 18px;
      color: #f1f1f1;
      animation: label 20s linear infinite;
      text-align: left;
      width: 100%;
    }
    @keyframes label{
      1%,25%{
        transform: scale(1);
      }
      25%,50%{
        transform: scale(1) ;
      }
      50%,75%{
        transform: scale(0) translateY(50px);
      }
      75%,85%{
        transform: scale(1) translateX(70%);
      }
      85%,100%{
        transform: translateX(0);
      }
    }
    .container p::before{
      content: url(../img/icons8-delete-link-28.png);
      display: inline-block;
      transform: translateY(8px);
    }
    .container .input-text-logo{
      position: absolute;
    }
    .container .input-text-logo::before {
      content: url(../img/icons8-download-48.png);
      display: inline-block;
      transform: translateY(12px);
    }

    input[type=text] {
      width: 100%;
      padding:20px 25px 20px 55px;
      margin: 5px 0 8px 0;
      border: none;
      background: #242424;
      border-radius: 8px;
      transition: 0.3s;
      font-family: inherit;
      font-size: 18px;
      color: #f1f1f1;

    }
    input[type=text]:focus {
    box-shadow:0 0 10px 1px gold;
    outline: none;
    background: #1b1b1b;

    }
     div {
             padding: 10px 0;
    
    }
    .registerbtn {
      background-color: #a82424;
      color: black;
      padding:0 0 15px 0;
      margin: 20px;
      border-radius: 8px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100px;
      margin: 10px;
      transition: 0.3s;
    }
    .registerbtn:hover {
    opacity: 1;
    background-color: #c41717;
    }
    .registerbtn::after{
      content: url(../img/icons8-right-arrow-26.png);
      display: inline-block;
      transform: translateY(10px) translateX(0);
    }
    .clock {
      font-family: clock;
      color: rgb(0, 225, 255);
      font-size: 12px;
      width: 155px;
      margin: auto;
      /* font-weight: 900; */
      box-shadow: 0 0 1px 2px rgb(0, 68, 255);
      background-color: rgba(0, 0, 0, 0.733);
      padding: 8px;
      border-radius: 4px;
      text-align: center;
      letter-spacing: 1px;
    }
    #your_ip {
      color: rgb(255, 183, 0);
      font-weight: 700;
      width: 90%;
      margin: auto;
      border-radius: 4px;
      transform: translateY(50px);
      line-height: 270%;
    }
    #your_ip ul{
      text-align: left;
    }
    #your_ip li{
      font-size: 14px;
    }
    #your_ip .show-ip::before{
      content: url(../img/icons8-web-address-34.png);
      display: inline-block;
      transform: translateY(12px) translateX(-5px);
    }

    #your_ip .show-day-seen::before{
      content: url(../img/icons8-view-34.png);
      display: inline-block;
      transform: translateY(12px) translateX(-5px);
    }
    #your_ip .show-down::before{
      content: url(../img/icons8-download-34.png);
      display: inline-block;
      transform: translateY(12px) translateX(-5px);
    }
    /*------------------ 540px ----------------------------------------------------------- */

    @media screen and (min-width:540px) {
      #container{
        position: relative;
      }
      .container {
        width: 90%;
        margin:200px auto;
        
      }
      .container h1{
      font-size: 24px;
      transform: translateY(-40px);
      }
      .registerbtn {
        padding:0 0 25px 0;

        width: 140px;
        margin: 10px;
      }
      .registerbtn::after{
        content: url(../img/icons8-right-arrow-42.png);
        display: inline-block;
        transform: translateY(16px) translateX(0);
      }
      .clock {
        font-size: 16px;
        position: absolute;
        top: 1%;
        right: 2%;
        width: 200px;
      }

      #your_ip {
        position: absolute;
        width: 70%;
        transform: translateY(0);
        margin: 0 0 0 20px;
        top: 0;
        left: 0;
      }
      #your_ip li{
        font-size: 18px;
      }
      #your_ip .show-ip::before{
        content: url(../img/icons8-web-address-42.png);
        display: inline-block;
        transform: translateY(15px) translateX(-5px);
      }
  
      #your_ip .show-day-seen::before{
        content: url(../img/icons8-view-42.png);
        display: inline-block;
        transform: translateY(15px) translateX(-5px);
      }
      #your_ip .show-down::before{
        content: url(../img/icons8-download-42.png);
        display: inline-block;
        transform: translateY(15px) translateX(-5px);
      }
    }
    