body{
    font-family: Calibri, Helvetica, sans-serif;
    background-color: black;
    }
    .container {
    padding: 100px;
    background-color:  lightblue;
    }
    
    input[type=text] {
      width: 100%;
      padding: 25px;
    margin: 5px 0 22px 0;
    display: inline-block;
     border: none;
     background: #f1f1f1;
    }
    input[type=text]:focus {
    background-color: gold;
    outline: none;
    }
     div {
             padding: 10px 0;
    
    }
    .registerbtn {
      background-color: #4CAF50;
      color: black;
      padding: 20px 22px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    .registerbtn:hover {
    opacity: 1;
    }